{% extends "_staff_ly.html" %}

{% block title %}{% endblock title %}

{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        &nbsp;
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{{ form_name }}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a><i class="fa fa-star" style="color: white;"></i></a></li>

              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div>
              &nbsp;
            </div>
            <form class="form-horizontal form-label-left" method="post" novalidate>
              {% csrf_token %}
              {% for field in form %}
              <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ field.label }}
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  {{ field }}
                  {% if field.errors.0 %}
                  <span style="color:red; font-size: 12px;">&nbsp;&nbsp;&nbsp;&nbsp;{{ field.errors.0 }}</span>
                  {% else %}
                    &nbsp;
                  {% endif %}
                </div>
              </div>
              {% endfor %}
              <hr style="border: 1px solid lightgray;">
              <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                  <button class="btn btn-round btn-warning" type="button"
                    onclick="redirectTo()">返回</button>
                  <button class="btn btn-round btn-primary" type="button" onclick="resetForm()">重置</button>
                  <button id="send" type="submit" class="btn btn-round btn-success">提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- validator -->
<!-- <script src="/static/vendors/validator/validator.js"></script> -->
<script>
  function resetForm() {
    window.location.href = window.location.href;
  }
</script>
<script>
  function redirectTo() {

    window.location.href = '/staff/goods/list'; 

  }
</script>
{% endblock javascripts %}