<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/staff/shop/list" class="site_title"><i class="fa fa-chain fa-spin"></i> <span style="font-size: 20px;">{{ shop_name }}</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/user.png" alt="Image" class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>欢迎,</span>
      <h2>{{ people_name }}</h2>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>商店情况</h3>
      <ul class="nav side-menu">
        <li><a href="/staff/shop/list"><i class="fa fa-fax"></i> 商店列表 </a>
        </li>
        <li><a href="/staff/sale/list"><i class="fa fa-line-chart"></i> 销售记录 </a>
        </li>
        <li><a href="/staff/goods/list"><i class="fa fa-shopping-cart"></i> 库存/销售 </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

</div>