<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="" style="margin-right: 3%;">
        <li>
          <a href="{% url 'logout' %}" id="logoutLink">
              <i class="fa fa-sign-out" style="color: red; font-size: 13px; font-weight: bold;" > 退出登录</i>
          </a>
        </li>
        <li><a href="/help"><i class='fa fa-question' style="font-size: 13px; font-weight: bold; color: #8c47fa"> 帮助</i>  </a></li>
      </li>
    </ul>
  </nav>
</div>